@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
}

:root {
    --White: hsl(100, 100%, 100%);
    --Light: hsl(0, 0%, 93%);
    --Black: hsl(0, 0%, 20%);
    --Orange: hsl(36, 99%, 67%);
    --Special-Black: hsl(194, 14%, 48%);

    --Light-Border: 2px solid var(--Light);
}

:root.Dark_Mode {
    --White: hsl(0, 0%, 13%);
    --Light: hsl(0, 0%, 20%);
    --Black: hsl(100, 100%, 100%);
    --Orange: hsl(36, 99%, 67%);
    --Special-Black: hsl(197, 100%, 93%);
}

body {
    background: var(--White);
}
body.Scroll-None {
    overflow: hidden;
}







.Whiteboard_Area {
    display: flex;
}

.Whiteboard_Area .Whiteboard_Tools {
    gap: 32px;
    padding: 25px;
    display: flex;
    position: fixed;
    left: 50px;
    bottom: 50px;
    max-height: 30px;
    text-align: center;
    align-items: center;
    flex-direction: row;
    border-radius: 15px;
    justify-content: center;
    background: var(--White);
    box-shadow: 0 4px 8px 0 var(--Light), 0 6px 20px 0 var(--Light);
}

.Whiteboard_Area .Whiteboard_Tools div {
    transition: 0.01s ease-in-out;
}

.Whiteboard_Area .Whiteboard_Tools div span {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    color: var(--Special-Black);
    transition: color 0.2s ease-in-out;
}
.Whiteboard_Area .Whiteboard_Tools div span:hover {
    color: #47595e;
}
.Whiteboard_Area .Whiteboard_Tools div span:active {
    opacity: 0.5;
}

.Whiteboard_Area .Whiteboard_Tools div.Active {
    color: var(--Orange);
    transform: translateY(-10px);
}
.Whiteboard_Area .Whiteboard_Tools div.Active span {
    color: var(--Orange);
}

.Whiteboard_Area .Whiteboard_Tools .Whiteboard_Divider {
    font-size: 28px;
    color: var(--Special-Black);
}

.Whiteboard_Area #Color_Creator {
    left: 195px;
    bottom: 150px;
    display: none;
    position: fixed;
    background: var(--White);
    border: var(--Light-Border);
}

.Whiteboard_Area .Whiteboard {
    width: 100%;
    height: 100dvh;
    background: var(--White);
}
.Whiteboard_Area .Whiteboard .Pen_Mark {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--Orange);
}
.Whiteboard_Area .Whiteboard .Text {
    padding: 18px;
    overflow: hidden;
    resize: both;
    width: max-content;
    position: relative;
    border: 2px solid var(--White);
}
.Whiteboard_Area .Whiteboard .Text::-webkit-resizer {
    display: none;
}
.Whiteboard_Area .Whiteboard .Text:hover {
    border: 2px dotted var(--Orange);
}
.Whiteboard_Area .Whiteboard .Text:focus {
    outline: inherit;
    border: 2px dotted var(--Orange);
}
.Whiteboard_Area .Whiteboard .Text::after {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    background: var(--White);
    border: 3px solid var(--Orange);

    display: none;
}
.Whiteboard_Area .Whiteboard .Text::before {
    content: "🗑️";
    width: 7px;
    height: 7px;
    display: none;
    position: absolute;
    top: 0;
    right: 5px;
    border-radius: 5px;
    background: var(--White);
}
.Whiteboard_Area .Whiteboard .Text:focus::after, .Whiteboard_Area .Whiteboard .Text:focus:before {
    display: block;
}